{% extends 'base.html' %}
{% block content %}
<!-- Start main-content -->
<div class="main-content">
          <section id="home"
                   class="m-90 mb-10"
                   style="margin-left: auto; margin-right: auto">
              <div class="col-md-6"></div>
              <h2 class="font-36 mt-0">
              </h2>
          </section>
          <div class="row">
              <div style="display: inline-flex; padding: 10px; background-color: #333; color:rgb(171, 169, 169)" class="col-md-12" >
                  <div class="container">
                      <div class="col-md-4 ">
                          <h4 style="color:white ;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EXPERT ENGINEERS</h4>
                          <p style="text-align;">Expert Mechanical Services has been<br>&nbsp;&nbsp; &nbsp; providing heating and cooling<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; solutions in Calgary</p>
                      </div>
                      <div class="col-md-4">
                          <h4 style="color:#fff;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LATEST LOOTS</h4>
                          <p style="text-align;">Expert Mechanical Services has been<br>&nbsp;&nbsp; &nbsp; providing heating and cooling<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; solutions in Calgary</p>
                      </div>
                      <div class="col-md-4">
                          <h4 style="color:#fff;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QUICK DELIVERY</h4>
                          <p style="text-align">Expert Mechanical Services has been<br>&nbsp;&nbsp; &nbsp; providing heating and cooling<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; solutions in Calgary</p>
                      </div>
                  </div>
              </div>
          </div>
              <section id="about">
                  <div class="container">
                      <div class="section-content">
                          <div class="row">
                              <div class="col-md-6 mt-20">
                                  <div class="row">
                                      <div class="col-md-6 col-sm-6 pl-0">
                                          <div class="img-hover-border mt-sm-40">
                                              <img class="img-fullwidth" src="/static/square1.jpg" alt="">
                                          </div>
                                      </div>
                                      <div class="col-md-6 col-sm-6 pl-0 pr-0">
                                          <div class="img-hover-border mt-sm-30">
                                              <img class="img-fullwidth" src="/static/square2.jpg" alt="">
                                          </div>
                                          <div class="img-hover-border mt-15 mt-sm-30">
                                              <img class="img-fullwidth" src="/static/a4.jpg" alt="">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="about-details">
                                      <h2 class="font-36 mt-0"> Welcome to <span class="text-theme-colored">Quick Rent</span> Enjoy your drive</h2>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, odioserunt provident maiores consectetur adipisicing elit. Aliquam odio dese runtesseu provident maiores libero porro dolorem est. Velit necessitatibus fugiat error incidunt excepturi doloribus officia aspernatur quod libero  Velit necessitatibus fugiat error incidunt excepturi doloribus officia</p>
                                      <div class="singnature mt-20">
                                          <img src="/static/signature.png" alt="img1">
                                      </div>
                                      <a href="https://kodesolution.com/html/2017/fundpro-html/demo/index-mp-layout1.html#" class="btn btn-flat btn-colored btn-theme-colored mt-15 mr-15">Read More</a><a href="https://kodesolution.com/html/2017/fundpro-html/demo/index-mp-layout1.html#" class="btn btn-flat btn-colored btn-default btn-theme-colored mt-15">Get a Quote</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
</div>
<!-- end main-content -->   
{% endblock %}