<footer id="footer" class="footer" data-bg-img="images/footer-bg.png" data-bg-color="#25272e" style=" background-position: initial !important; background-size: initial !important; background-repeat: initial !important; background-attachment: initial !important; background-origin: initial !important; background-clip: initial !important; background-color: rgb(37, 39, 46) !important;">
    <div class="footer-bottom bg-black-333">
        <div class="container pt-15 pb-10">
            <div class="row">
                <div class="col-md-6">
                    <p class="font-11 text-black-777 m-0">Copyright ©2022 All Rights Reserved</p>
                </div>
                <div class="col-md-6 text-right">
                    <div class="widget no-border m-0">
                        <ul class="list-inline sm-text-center mt-5 font-12">
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                            <li>|</li>
                            <li>
                                <a href="#">Help Desk</a>
                            </li>
                            <li>|</li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<!-- end wrapper -->
<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->
<script src="/static/custom.js.download"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS
  (Load Extensions only on Local File Systems !
   The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="/static/revolution.extension.actions.min.js.download"></script>
<script type="text/javascript" src="/static/revolution.extension.carousel.min.js.download"></script>
<script type="text/javascript" src="/static/revolution.extension.kenburn.min.js.download"></script>
<script type="text/javascript" src="/static/revolution.extension.layeranimation.min.js.download"></script>
<script type="text/javascript" src="/static/revolution.extension.migration.min.js.download"></script>
<script type="text/javascript" src="/static/revolution.extension.navigation.min.js.download"></script>
<script type="text/javascript" src="/static/revolution.extension.parallax.min.js.download"></script>
<script type="text/javascript" src="/static/revolution.extension.slideanims.min.js.download"></script>
<script type="text/javascript" src="/static/revolution.extension.video.min.js.download"></script>



<!-- Modal: Bootstrap Parent Modal Starts -->
<div class="modal fade" id="BSParentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
        </div>
    </div>
</div>
</div>
<!-- Modal: Bootstrap Parent Modal Ends -->
<!-- Color Switcher Starts | Only for demo purpose and not included in main file -->
<!-- switcher html -->
<!-- Color Switcher Ends-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>
</html>